html {
    /* Retina Display */
      /* Móvil */
    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
        @media (-webkit-min-device-pixel-ratio: 1){
            background-image: url(../img/smartphone/background_susto.webp);
        }

        @media (-webkit-min-device-pixel-ratio: 2) {
            background-image: url(../img/smartphone/background_susto@2x.webp);
        }

        @media (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../img/smartphone/background_susto@3x.webp);
        }
    }
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 100px 0;
    
    .volverinicio {
        text-decoration: none;
        color: rgb(212, 53, 0);
        -webkit-text-stroke: none;
        font-size: 35px;
        padding: 20px;
        border-radius: 25px;
        background-color: rgb(43, 43, 43);
        
    }
}